body{
    background-color:#eeeeac;
    text-align: center;
}
h1{
    color: #318631e5;
    text-align: center;
}
p{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}
h2{
    color: #318631e5;
    text-align: center;
}
p{
    text-align: justify;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}